#app {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.router-link-exact-active {
  font-weight: bold;
}

.btn-warning {
  background-color: #ffb519;
}

.badge-warning {
  background-color: #ffb519;
}

.card {
  border-radius: 5px;
  color: #2f2e41;
}

.form-control:focus {
  border-color: #ffb519;
  box-shadow: none;
}

.edit {
  background: #fff;
  color: #2f2e41;
  border-radius: 3px;
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
}

td .img-fluid {
  width: 250px;
  max-height: 400px;
}

.warning {
  background-color: #ffb519;
}

.links {
  color: #2f2e41;
}

.links:hover {
  color: #2f2e41;
  text-decoration: none;
}

.checkout-image {
  position: relative;
  left: 100px;
}

.hr {
  background-color: #2f2e41;
  width: 40%;
  display: block;
  height: 3px;
}

.aos {
  margin-top: 10%;
}
